*{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
.header{
    background-color: #262626;
    min-height: 82px;
}
.wrapper{
    width: 90%;
    padding-left: 5%;
}
.logo{
    padding: 25px;
    width: 50px;
    float: left;
}
.logo h1{color: whitesmoke;
    font-size: 40px;
}
.menu{
    min-height: 62px;
    min-width: 265px;
    padding-top: 31px;
}
.menu ul{float: right;}
.menu ul li{list-style-type: none;float: left;}
.menu ul li a{color: whitesmoke; text-decoration: none;padding: 39px;font-size: 20px;transition: 1s;}
.menu ul li a:hover{color: red;}
.slider{background-color: #2B2B2B;min-height: 285px;text-align: center;padding: 50px;}
.slider h1{color: #B89C86;font-size: 40px;font-weight: bold;}
.slider h1 span{color: white;font-size: 40px;font-weight: bold;}
.slider p{color: #B89C86;padding: 50px;font-size: 30px;}
.slider p span{color: #F7695F; font-weight: bolder;}
.slider button{border-radius: 5px; color: white; font-weight: bold; background-color: #F7695F;padding: 15px;font-size: 20px;}
.content{overflow: hidden;
    min-height: 600px;
    background-color: #CBD2D8;
    padding-top: 40px;
}
.box{color: darkslategrey;
    width: 23%;
    min-height: 280px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    transform: translate(15px);
    text-align: center;
    font-size: 90px;
    padding: 30px;
}
.box p{font-size: 25px;padding-top: 30px;}
.foot{text-align: center;
    padding: 50px;
    background-color: #2B2B2B;
    color: navajowhite;
}
.foot h1{font-size: 60px;}
.foot h1 span{color: indianred;}
.foot p{font-size: 20px;}
